.form-filter {
    background-color: $dark;

    .form-control {
        background-color: #313131;
        border-width: 0;
        color: white;
        border-radius: 0;
    }
}

.img-gallery {
    width: 100%;
    margin-bottom: 30px;


    @include media-breakpoint-up(lg) {
        height: 180px;
        object-fit: cover;

        &.hilight {
            height: 390px;
        }
    }
}