header {
    .header {
        &-topbar {
            .input-group {
                .form-control {
                    border-radius: 0;
                }

                &-append {
                    .btn {
                        background-color: $input-bg;
                        border-color: $input-border-color;
                        border-left-width: 0;
                        border-radius: 0;
                    }
                }
            }
        }

    }
}