#banner {
    .banner {
        &-slide {
            .slick {
                &-arrow {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 1;

                    &-prev {
                        left: 15%;
                    }

                    &-next {
                        right: 15%;
                    }
                }

            }
        }
    }

    // Mobile
    @include media-breakpoint-down(md) {
        .banner-slide-item {
            img {
                min-height: 320px;
                width: auto;
                object-fit: cover;
            }
        }
    }
}

#filter {
    position: relative;
    margin-top: -90px;
    padding-bottom: 40px;

    .filter {
        &-form {
            display: flex;
            max-width: 920px;
            margin: 0 auto;

            &-input {
                flex-grow: 1;
                padding: 1.25rem;
                padding-bottom: 0.25rem;
                background-color: white;
                border-bottom: 5px solid $primary;
                box-shadow: $box-shadow-sm;

                .form {
                    &-cartype {
                        .col-form-label {
                            font-weight: 400;
                            font-size: 1.25rem;
                            color: $primary;
                        }

                        .form-check {
                            padding-left: 0;

                            &-input {
                                display: none;

                                &:checked~.form-check-label {
                                    filter: grayscale(0);
                                    opacity: 1;
                                }
                            }

                            &-label {
                                display: block;
                                text-align: center;
                                filter: grayscale(1);
                                cursor: pointer;
                                opacity: 0.6;

                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    &-select {
                        label {
                            font-weight: 400;
                            font-size: 1.25rem;
                            color: $primary;
                            margin-bottom: 0;
                        }

                        .custom-select {
                            background: $input-bg url('../images/icon-dropdown.png') no-repeat right .5rem center;
                            background-size: auto;
                        }
                    }
                }
            }
        }
    }

    // Mobile
    @include media-breakpoint-down(md) {
        margin-top: -60px;
        padding-left: 15%;
        padding-right: 15%;

        .filter-form {
            &-input {
                .col-form-label {
                    display: none;
                }

                .form-check {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

#brand {
    .brand {
        &-slide {
            .slick {
                &-track {
                    display: flex;
                    align-items: center;
                }

                &-slide {
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}