.list-share {
    list-style: none;
    padding-left: 0;
    display: flex;

    li {
        &:not(:last-child) {
            margin-right: 0.5rem;
        }

        a {
            color: white;
            box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.05);
            border-radius: 2px;
            padding: .15rem .5rem;
            font-size: 12px;

            &.facebook {
                background-color: $facebook;
            }

            &.line {
                background-color: $line;
            }
        }
    }
}

.list-share-circle {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    font-weight: 500;

    @include media-breakpoint-up(lg) {
        font-size: 24px;
    }

    li {
        img {
            width: 20px;
            height: 20px;
            object-fit: contain;

            @include media-breakpoint-up(lg) {
                width: 40px;
                height: 40px;
            }
        }

        &:not(:last-child) {
            margin-right: 0.25rem;
        }

        &:first-child {
            margin-right: 1rem;
        }
    }
}